<%= render 'layouts/navbar' %>
<div>
<% if @player_data.present? %>
  <%= render 'player_header' %>
  <%= render 'overview' %>
<% else %>
    <p>Error: Unable to fetch player data.</p>
<% end %>
</div>
